<!DOCTYPE html>
{% load static %} <!-- Static fayllarni ishlatish uchun -->
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Blog{% endblock %}</title> <!-- Sahifa title blok -->

    <link rel="stylesheet" href="{% static 'css/blog.css' %}"> <!-- Asosiy CSS -->
<!--    {% block extra_css %}{% endblock %} &lt;!&ndash; Qo‘shimcha sahifa CSS block &ndash;&gt;-->
</head>
<body>
<!--<header>-->
<!--    <h1>IT-NEWS</h1> &lt;!&ndash; Sayt sarlavhasi &ndash;&gt;-->
<!--    <nav>&lt;!&ndash; Navbar joyi &ndash;&gt;</nav>-->
<!--</header>-->
<div id="container"> <!-- Asosiy layout quti (content + sidebar) -->

    <main id="content">
        {% block content %}{% endblock %} <!-- Har sahifa uchun asosiy kontent -->
    </main>

    <aside id="sidebar">
        {% block sidebar %} <!-- Yon panel / sidebar -->
        <h2> IT-NEWS </h2>
        <p>Informatsion texnologiyalarga oid yangiliklar sayti</p>
        {% endblock %}
    </aside>

</div>
<!--<footer>-->
<!--    <p>© 2026 IT-NEWS</p> &lt;!&ndash; Footer &ndash;&gt;-->
<!--</footer>-->
<!--<script src="{% static 'js/main.js' %}"></script> &lt;!&ndash; Asosiy JS fayl &ndash;&gt;-->
<!--{% block extra_js %}{% endblock %} &lt;!&ndash; Qo‘shimcha sahifa JS block &ndash;&gt;-->
</body>
</html>